<a href="https://colab.research.google.com/github/samp3209/datamining/blob/main/DataAndPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
#!pip install pandas==1.3.0

Requirement already satisfied: pandas==1.3.0 in /usr/local/lib/python3.7/dist-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.0) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.0) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.0) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.3.0) (1.15.0)

In [42]:
#reading iris data in csv json and xml
datac = pd.read_csv("tableconvert_csv_so70jx.csv")
dataj = pd.read_json("tableconvert_json_f0acan-1.json")
datax = pd.read_xml("tableconvert_xml_1dxz8d-1.xml")
print(datac.head())

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [27]:
#writing from csv to json and xml
CtoJ = datac.to_json()
#print(CtoJ)
CtoX = datac.to_xml()
#print(CtoX)
JtoC = dataj.to_csv()
#print(JtoC))
JtoX = dataj.to_xml()
#print(JtoX)
XtoC = datax.to_csv()
#print(XtoC)
XtoJ = datax.to_json()

In [41]:
#changes pandas data to numpy and does some basic commands
npdata = datac.to_numpy()
#print(npdata)
print(npdata.size)
print(npdata.shape)
print(npdata.ndim)

750
(150, 5)
2

In [45]:
#converts numpy array into pandas and then finds the mean of each column
df = pd.DataFrame(npdata, columns=['sepal.length', 'sepal.width', 'petal.length', 'petal.width', 'variety'])
print(df)
df.mean(axis=0)

    sepal.length sepal.width petal.length petal.width    variety
0            5.1         3.5          1.4         0.2     Setosa
1            4.9         3.0          1.4         0.2     Setosa
2            4.7         3.2          1.3         0.2     Setosa
3            4.6         3.1          1.5         0.2     Setosa
4            5.0         3.6          1.4         0.2     Setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  Virginica
146          6.3         2.5          5.0         1.9  Virginica
147          6.5         3.0          5.2         2.0  Virginica
148          6.2         3.4          5.4         2.3  Virginica
149          5.9         3.0          5.1         1.8  Virginica

[150 rows x 5 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64

my_array = np.array([[49,72,93],[21,32,57]])