<a href="https://colab.research.google.com/github/samp3209/datamining/blob/main/moredatatransformations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import sklearn
from datetime import date
import sklearn.preprocessing
from sklearn.preprocessing import LabelEncoder

In [13]:
data = pd.read_csv('melb_data.csv')
#print(data.shape)
#print(data.info())

data['Date'] = pd.to_datetime(data['Date'])
#data.Date.head()
data.Propertycount = data.Propertycount.astype('int')

#building a map for data['Type']
TypeMap = {'h':'house', 'u': 'unit', 't':'town_house'}
data.Type.replace(TypeMap).sample(10)
data.Type = data.Type.astype('category')
#data.Type.memory_usage()
#data.Date.dt.month.sample(10)
data.Address.str.capitalize().sample(10)
data.Suburb

0           Abbotsford
1           Abbotsford
2           Abbotsford
3           Abbotsford
4           Abbotsford
             ...
13575    Wheelers Hill
13576     Williamstown
13577     Williamstown
13578     Williamstown
13579       Yarraville
Name: Suburb, Length: 13580, dtype: object

In [ ]:
data = pd.read_csv('marketing_data.csv')
data['Age'] = date.today().year - data.Year_Birth
data.Age
data['Year'] = pd.DatetimeIndex(data.Dt_Customer).year
data.Year
data['Enrollment_Length'] = date.today().year - data.Year
data.Enrollment_Length
data.sample(10)
#replace ,$ and . 
data['Income'] = data[' Income '].str.replace(',', '').str.replace('$', '').str.replace('.', '').fillna(0).astype(int)
#print(data.Income)
#lambda function is a small function call this one takes the income and scales it down to two digits
data['Income_ks'] = data['Income'].apply(lambda x: round(x/1000, 2))
data[['Income','Income_ks']].describe()
data.head(6)
data['ScaledMntMeatProducts'] = sklearn.preprocessing.minmax_scale(data['MntMeatProducts'])
data['ScaledMntMeatProducts'].describe()
#data['ScaledMntMeatProducts2'] = sklearn.preprocessing.StandardScaler(data['MntMeatProducts'])
data['ScaledMntMeatProducts2'] = data['MntMeatProducts'].apply(lambda x: (x-data['MntMeatProducts'].mean())/data['MntMeatProducts'].std())
data['ScaledMntMeatProducts2'].describe()

count    2.240000e+03
mean     1.932978e-17
std      1.000000e+00
min     -7.396483e-01
25%     -6.687626e-01
50%     -4.428143e-01
75%      2.881948e-01
max      6.902720e+00
Name: ScaledMntMeatProducts2, dtype: float64

In [ ]:
df = pd.read_csv('marketing_data.csv')
df = df.dropna()

#seperates columns into categorical and numeric
data_coloumn_category = df.select_dtypes(exclude=[np.number]).columns
data_column_numeric = df.select_dtypes(include=[np.number]).columns

#initializes the label encoder
label_encoder = LabelEncoder()

#step thru each categorical column and transforms each categorical data into a number 
for i in data_coloumn_category:
  df[i] = label_encoder.fit_transform(df[i])

In [12]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

df = pd.read_csv('/content/Banking_Marketing.csv')

df = df.dropna()

data_column_category = df.select_dtypes(exclude=[np.number]).columns
data_column_numeric = df.select_dtypes(include=[np.number]).columns

df_onehot_getdummies = pd.get_dummies(df[data_column_category], prefix=data_column_category)



#label_encoder = LabelEncoder()

#for i in data_column_category:

  #df[i] = label_encoder.fit_transform(df[i])

onehot_encoder = OneHotEncoder(sparse=False)

onehot_encoded = onehot_encoder.fit_transform(df[data_column_category])

onehot_encoded_frame = pd.DataFrame(onehot_encoded, columns = onehot_encoder.get_feature_names(data_column_category))
final_df = pd.concat([df_onehot_getdummies, df[data_column_numeric]], axis=1)
final_df.std().sort_values(ascending=False)
onehot_encoded_frame.std().sort_values(ascending=False)
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41189 entries, 0 to 41198
Data columns (total 65 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   job_admin.                     41189 non-null  uint8
 1   job_blue-collar                41189 non-null  uint8
 2   job_entrepreneur               41189 non-null  uint8
 3   job_housemaid                  41189 non-null  uint8
 4   job_management                 41189 non-null  uint8
 5   job_retired                    41189 non-null  uint8
 6   job_self-employed              41189 non-null  uint8
 7   job_services                   41189 non-null  uint8
 8   job_student                    41189 non-null  uint8
 9   job_technician                 41189 non-null  uint8
 10  job_unemployed                 41189 non-null  uint8
 11  job_unknown                    41189 non-null  uint8
 12  marital_divorced               41189 non-null  uint8
 13  marital_married                41189 non-null  uint8
 14  marital_single                 41189 non-null  uint8
 15  marital_unknown                41189 non-null  uint8
 16  education_basic.4y             41189 non-null  uint8
 17  education_basic.6y             41189 non-null  uint8
 18  education_basic.9y             41189 non-null  uint8
 19  education_high.school          41189 non-null  uint8
 20  education_illiterate           41189 non-null  uint8
 21  education_professional.course  41189 non-null  uint8
 22  education_university.degree    41189 non-null  uint8
 23  education_unknown              41189 non-null  uint8
 24  default_no                     41189 non-null  uint8
 25  default_unknown                41189 non-null  uint8
 26  default_yes                    41189 non-null  uint8
 27  housing_no                     41189 non-null  uint8
 28  housing_unknown                41189 non-null  uint8
 29  housing_yes                    41189 non-null  uint8
 30  loan_n                         41189 non-null  uint8
 31  loan_no                        41189 non-null  uint8
 32  loan_unknown                   41189 non-null  uint8
 33  loan_yes                       41189 non-null  uint8
 34  contact_cellular               41189 non-null  uint8
 35  contact_telephone              41189 non-null  uint8
 36  month_apr                      41189 non-null  uint8
 37  month_aug                      41189 non-null  uint8
 38  month_dec                      41189 non-null  uint8
 39  month_jul                      41189 non-null  uint8
 40  month_jun                      41189 non-null  uint8
 41  month_mar                      41189 non-null  uint8
 42  month_may                      41189 non-null  uint8
 43  month_nov                      41189 non-null  uint8
 44  month_oct                      41189 non-null  uint8
 45  month_sep                      41189 non-null  uint8
 46  day_of_week_fri                41189 non-null  uint8
 47  day_of_week_mon                41189 non-null  uint8
 48  day_of_week_thu                41189 non-null  uint8
 49  day_of_week_tue                41189 non-null  uint8
 50  day_of_week_wed                41189 non-null  uint8
 51  poutcome_failure               41189 non-null  uint8
 52  poutcome_nonexistent           41189 non-null  uint8
 53  poutcome_success               41189 non-null  uint8
 54  age                            41189 non-null  int64
 55  duration                       41189 non-null  float64
 56  campaign                       41189 non-null  int64
 57  pdays                          41189 non-null  int64
 58  previous                       41189 non-null  int64
 59  emp_var_rate                   41189 non-null  float64
 60  cons_price_idx                 41189 non-null  float64
 61  cons_conf_idx                  41189 non-null  float64
 62  euribor3m                      41189 non-null  float64
 63  nr_employed                    41189 non-null  float64
 64  y                              41189 non-null  int64
dtypes: float64(6), int64(5), uint8(54)
memory usage: 5.9 MB