<a href="https://colab.research.google.com/github/samp3209/datamining/blob/main/moredatatransformations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import numpy as np
import sklearn
from datetime import date

In [45]:
data = pd.read_csv('melb_data.csv')
#print(data.shape)
#print(data.info())

data['Date'] = pd.to_datetime(data['Date'])
#data.Date.head()
data.Propertycount = data.Propertycount.astype('int')

#building a map for data['Type']
TypeMap = {'h':'house', 'u': 'unit', 't':'town_house'}
data.Type.replace(TypeMap).sample(10)
data.Type = data.Type.astype('category')
#data.Type.memory_usage()
#data.Date.dt.month.sample(10)
data.Address.str.capitalize().sample(10)
data.Suburb

0           Abbotsford
1           Abbotsford
2           Abbotsford
3           Abbotsford
4           Abbotsford
             ...
13575    Wheelers Hill
13576     Williamstown
13577     Williamstown
13578     Williamstown
13579       Yarraville
Name: Suburb, Length: 13580, dtype: object

In [61]:
data = pd.read_csv('marketing_data.csv')
data['Age'] = date.today().year - data.Year_Birth
data.Age
data['Year'] = pd.DatetimeIndex(data.Dt_Customer).year
data.Year
data['Enrollment_Length'] = date.today().year - data.Year
data.Enrollment_Length
data.sample(10)
#replace ,$ and . 
data['Income'] = data[' Income '].str.replace(',', '').str.replace('$', '').str.replace('.', '').fillna(0).astype(int)
data.Income

0       8483500
1       5709100
2       6726700
3       3247400
4       2147400
         ...
2235    6647600
2236    3105600
2237    4631000
2238    6581900
2239    9487100
Name: Income, Length: 2240, dtype: int64