<a href="https://colab.research.google.com/github/samp3209/datamining/blob/main/moredatatransformations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import numpy as np
import sklearn
from datetime import date
import sklearn.preprocessing
from sklearn.preprocessing import LabelEncoder

In [4]:
data = pd.read_csv('melb_data.csv')
#print(data.shape)
#print(data.info())

data['Date'] = pd.to_datetime(data['Date'])
#data.Date.head()
data.Propertycount = data.Propertycount.astype('int')

#building a map for data['Type']
TypeMap = {'h':'house', 'u': 'unit', 't':'town_house'}
data.Type.replace(TypeMap).sample(10)
data.Type = data.Type.astype('category')
#data.Type.memory_usage()
#data.Date.dt.month.sample(10)
data.Address.str.capitalize().sample(10)
data.Suburb

0           Abbotsford
1           Abbotsford
2           Abbotsford
3           Abbotsford
4           Abbotsford
             ...
13575    Wheelers Hill
13576     Williamstown
13577     Williamstown
13578     Williamstown
13579       Yarraville
Name: Suburb, Length: 13580, dtype: object

In [23]:
data = pd.read_csv('marketing_data.csv')
data['Age'] = date.today().year - data.Year_Birth
data.Age
data['Year'] = pd.DatetimeIndex(data.Dt_Customer).year
data.Year
data['Enrollment_Length'] = date.today().year - data.Year
data.Enrollment_Length
data.sample(10)
#replace ,$ and . 
data['Income'] = data[' Income '].str.replace(',', '').str.replace('$', '').str.replace('.', '').fillna(0).astype(int)
#print(data.Income)
#lambda function is a small function call this one takes the income and scales it down to two digits
data['Income_ks'] = data['Income'].apply(lambda x: round(x/1000, 2))
data[['Income','Income_ks']].describe()
data.head(6)
data['ScaledMntMeatProducts'] = sklearn.preprocessing.minmax_scale(data['MntMeatProducts'])
data['ScaledMntMeatProducts'].describe()
#data['ScaledMntMeatProducts2'] = sklearn.preprocessing.StandardScaler(data['MntMeatProducts'])
data['ScaledMntMeatProducts2'] = data['MntMeatProducts'].apply(lambda x: (x-data['MntMeatProducts'].mean())/data['MntMeatProducts'].std())
data['ScaledMntMeatProducts2'].describe()

count    2.240000e+03
mean     1.932978e-17
std      1.000000e+00
min     -7.396483e-01
25%     -6.687626e-01
50%     -4.428143e-01
75%      2.881948e-01
max      6.902720e+00
Name: ScaledMntMeatProducts2, dtype: float64

In [ ]:
df = pd.read_csv('marketing_data.csv')
df = df.dropna()

#seperates columns into categorical and numeric
data_coloumn_category = df.select_dtypes(exclude=[np.number]).columns
data_column_numeric = df.select_dtypes(include=[np.number]).columns

#initializes the label encoder
label_encoder = LabelEncoder()

#step thru each categorical column and transforms each categorical data into a number 
for i in data_coloumn_category:
  df[i] = label_encoder.fit_transform(df[i])