<a href="https://colab.research.google.com/github/samp3209/datamining/blob/main/moredatacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

university_towns = []

with open('university_towns.txt') as file:
  for line in file:
    if '[edit]' in line:
      state = line
    else:
      university_towns.append((state,line))

university_towns[:5]

df = pd.DataFrame(university_towns, columns=['State', 'RegionName'])
#print(df.head())
df['State'] = df['State'].str.replace('\[edit\]\\n', ' ')

def get_city(item):
  #takes in df and goes line by line editing the data by finding where a given character is a choosing everything before that character
    if ')' in item:
      return item[:item.find(')')]
    elif '[' in item:
      return item[:item.find('[')]
    else:
      return item

df = df.applymap(get_city)
df.head()
#splits the regionname column into city and university
df[['City', 'University', 'misc']] = df['RegionName'].str.split("\(", expand=True)
df.drop('misc', axis=1, inplace=True)
df.drop('RegionName', axis=1, inplace=True)
df = df.dropna()
df

          State            City                             University
0      Alabama          Auburn                       Auburn University
1      Alabama        Florence             University of North Alabama
2      Alabama    Jacksonville           Jacksonville State University
3      Alabama      Livingston              University of West Alabama
4      Alabama      Montevallo                University of Montevallo
..          ...             ...                                    ...
512  Wisconsin     River Falls     University of Wisconsin–River Falls
513  Wisconsin   Stevens Point   University of Wisconsin–Stevens Point
514  Wisconsin        Waukesha                      Carroll University
515  Wisconsin      Whitewater      University of Wisconsin–Whitewater
516    Wyoming         Laramie                   University of Wyoming

[513 rows x 3 columns]