<a href="https://colab.research.google.com/github/samp3209/datamining/blob/main/PANDAS%2B%2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model as lm

pd.__version__

'1.1.5'

In [18]:
#data loading steps
pdata = pd.read_excel('VTPopStat.xls')
sdata = pd.read_csv('sales-and-use-tax.csv')
print(sdata.head())
pdata = pdata.drop('CTC', axis=1)
print(pdata.head())

#data engineering steps
#dropping columns and reshaping population data
pdata2 = pdata.melt(id_vars=["NAME"], var_name="Calendar Year", value_name="Population")
pdata2.head()
#building final data set
DATA = sdata.merge(pdata2, left_on=["Town", "Calendar Year"], right_on=["NAME", "Calendar Year"], how='inner')
DATA.describe()
target = "Gross"
DATA2 = DATA.drop('Gross', axis=1)
#data mining steps find std by column and choosing the largest one
feature = DATA2.std().sort_values(ascending=False)[0:1]






#testing data mining findings
xb = np.array(DATA[feature.index[0]])
xb = xb.reshape(-1,1)
yb = np.array(DATA['Gross'])
yb = yb.reshape(-1,1)
model = lm.LinearRegression().fit(xb,yb)
score = model.score(xb,yb)

#New Data with Best feature 
BestDataModel = DATA[feature.index[0]]
print(score)
print(BestDataModel)

   Calendar Year        Town  ...           Use  Use Count
0           2018     ADDISON  ...  0.000000e+00        0.0
1           2018     ALBURGH  ...  0.000000e+00        0.0
2           2018  BARRE TOWN  ...  1.015334e+06       15.0
3           2018  BENNINGTON  ...  2.771998e+06      113.0
4           2018    BRADFORD  ...  9.882338e+05       26.0

[5 rows x 8 columns]
          NAME  1930  1940  1950  1960  ...  2015  2016  2017  2018  2019
0      ADDISON   684   576   628   645  ...  1361  1348  1341  1337  1322
1     BRIDPORT   703   665   663   653  ...  1215  1208  1193  1187  1178
2      BRISTOL  1832  1939  1988  2159  ...  3945  3906  3892  3885  3842
3     CORNWALL   640   670   728   756  ...  1193  1199  1198  1207  1192
4  FERRISBURGH  1285  1347  1387  1426  ...  2764  2740  2721  2715  2690

[5 rows x 55 columns]
0.8663761236994375
0      1.446626e+06
1      4.655620e+06
2      1.365132e+07
3      1.405078e+08
4      2.056342e+07
           ...
780    3.834357e+08
781    3.381616e+07
782    5.526718e+06
783    1.867886e+06
784    2.302616e+07
Name: Retail, Length: 785, dtype: float64